<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035155350869-p014mohhu4lsb36imioclsq0q6gnejk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035155350869-p014mohhu4lsb36imioclsq0q6gnejk3</string>
	<key>API_KEY</key>
	<string>AIzaSyCloAWuOx5whL5suqvZ2wBcRDBjeKQwp74</string>
	<key>GCM_SENDER_ID</key>
	<string>1035155350869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.therealstart.fitnessUncensored</string>
	<key>PROJECT_ID</key>
	<string>fitness-uncensored</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-uncensored.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035155350869:ios:5d854c87845b810458bbdc</string>
</dict>
</plist>